<div *ngIf="!loading" class="inner-container">
  <div *ngIf="!showDetails" class="results">
    <span *ngIf="currentPage !== 0">
      <mat-icon (click)="goBack()" >arrow_circle_left</mat-icon>
    </span>
    <div class="items-row">
      <div *ngFor="let ch of resVehicles[currentPage]" class="item" (click)="selectVehicle(ch)">
        <span>{{ch.name}}</span>
      </div>
    </div>
    <span *ngIf="nextUrl">
      <mat-icon (click)="loadMore()" >arrow_circle_right</mat-icon>
    </span>
  </div>
  <div *ngIf="!showDetails" class="footer"> {{currentPage | pageNumber}}/{{totalPages}}</div>
</div>

<div *ngIf="!loading && showDetails" class="details-container">
  <app-vehicle-details *ngIf="showDetails" [vehicle]="vehicleSelected"></app-vehicle-details>
  <div *ngIf="showDetails" class="details">
    <span>Pilots</span>
    <div class="info-extra">
      <span (click)="selectPeople(r)" *ngFor="let r of people">{{r.name}}</span>
    </div>
    <span>Films</span>
    <div class="info-extra">
      <span (click)="selectFilm(f)" *ngFor="let f of films">{{f.title}}</span>
    </div>
  </div>
</div>

<div *ngIf="loading">
  <mat-spinner [diameter]="200"></mat-spinner>
</div>
