<div *ngIf="!loading" class="inner-container">
  <div *ngIf="!showDetails" class="film-c">
    <div *ngFor="let film of films" class="film" (click)="selectFilm(film)">
      <span>{{film.title}}</span>
    </div>
  </div>

  <app-film-details *ngIf="showDetails" [film]="filmSelected"></app-film-details>
  <div *ngIf="showDetails" class="links">
    <span>Vehicles</span>
    <span>Planets</span>
    <span>Characters</span>
  </div>
</div>
<div *ngIf="loading">
  <mat-spinner [diameter]="200"></mat-spinner>
</div>
