<div *ngIf="!loading" class="inner-container">
  <div *ngIf="!showDetails" class="results">
    <span *ngIf="currentPage !== 0">
      <mat-icon (click)="goBack()" >arrow_circle_left</mat-icon>
    </span>
    <div class="items-row">
      <div *ngFor="let film of resFilms[currentPage]" class="item" (click)="selectFilm(film)">
        <span>{{film.title}}</span>
      </div>
    </div>
    <span *ngIf="nextUrl">
      <mat-icon (click)="loadMore()" >arrow_circle_right</mat-icon>
    </span>
  </div>
  <div *ngIf="!showDetails" class="footer"> {{currentPage | pageNumber}}/{{totalPages}}</div>

  <app-film-details *ngIf="showDetails" [film]="filmSelected"></app-film-details>
  <div *ngIf="showDetails" class="details">
    <span>Vehicles</span>
    <div class="info-extra">
      <span (click)="selectVehicle(r)" *ngFor="let r of vehicles">{{r.name}}</span>
    </div>
    <span>Planets</span>
    <div class="info-extra">
      <span (click)="selectPlanet(r)" *ngFor="let r of planets">{{r.name}}</span>
    </div>
    <span>Characters</span>
    <div class="info-extra">
      <span (click)="selectPeople(r)" *ngFor="let r of residents">{{r.name}}</span>
    </div>
  </div>
</div>
<div *ngIf="loading">
  <mat-spinner [diameter]="200"></mat-spinner>
</div>
