<div *ngIf="!loading" class="inner-container">
  <div *ngIf="!showDetails" class="people-c">
    <div *ngFor="let ch of characters" class="people" (click)="selectCharacter(ch)">
      <span>{{ch.name}}</span>
    </div>
  </div>

  <app-people-details *ngIf="showDetails" [people]="characterSelected"></app-people-details>
  <div *ngIf="showDetails" class="details">
    <span>Vehicles</span>
    <div class="info-extra">
      <span (click)="selectVehicle(r)" *ngFor="let r of vehicles">{{r.name}}</span>
    </div>
    <span>Films</span>
    <div class="info-extra">
      <span (click)="selectFilm(f)" *ngFor="let f of films">{{f.title}}</span>
    </div>
  </div>
</div>
<div *ngIf="loading">
  <mat-spinner [diameter]="200"></mat-spinner>
</div>
