@font-face {
  font-family: 'anakinmono';
  src: url(assets/anakinmono.ttf) format("opentype");
  font-display: swap;
}

@font-face {
  font-family: 'Questrial';
  src: url(assets/Questrial-Regular.ttf) format("opentype");
  font-display: swap;
}


html, body { height: 100%; }
body, p, h1,h2,h3, label, #name {
  margin: 0;
  font-family: anakinmono, "Helvetica Neue", sans-serif;
}

.container {
  display: flex;
  background-image: url('assets/background.jpg');
  color: white;
  width: 100%;
  height: 100%;
  flex-direction: column;
  align-items: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

.title {
  margin: 15px;
  font-size: 50px;
  color: rgb(255,213,79);
  text-shadow: 4px 4px black;
  cursor: pointer;
}

.sub-title {
  margin: 15px;
  font-size: 25px;
  color: rgb(255,213,79);
  text-shadow: 4px 4px black;
  cursor: pointer;
}

.inner-container {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}

.details {
  width: 600px;
  display: flex;
  flex-direction: column;
  color: white;
  justify-content: flex-start;
  font-family: Questrial, "Helvetica Neue", sans-serif;
  font-size: 22px;
  align-items: flex-start;
  padding: 15px;
  background-color: rgba(0, 0, 0, 0.7);
  border-radius: 19px;
  text-shadow: 4px 4px black;
  #name {
    font-size: 25px;
    color: rgb(255, 213, 79);
  }
  .links{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 100%;
  }
}

.mat-progress-spinner circle, .mat-spinner circle {
stroke: rgb(255,213,79);
}
